.container {
	position: relative;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-modal {
	width: 600px;
	padding: 16px;
	background-color: white;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}
