.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

label{
	font-size: 20px;
}

input {
	padding: 8px 0;
	padding-left: 10px;
	width: 300px;
	border-style: none;
	border: 1px solid #dadada;
	border-radius: 10px;
}

button {
	padding: 10px 0;
	border-style: none;
	border-radius: 10px;
	background-color: #0000FF;
	color: white;
}