* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	gap: 30px;
	width: fit-content;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input {
	width: 450px;
	padding: 8px 0px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #dadada;
}

button {
	width: fit-content;
	padding: 10px 15px;
	color: white;
	background-color: #4caf50;
	border-radius: 8px;
	border-style: none;
}

.user-infor {
	background-color: #E7F7E7;
	padding: 25px;
	padding-left: 15px;
	border: 1px solid #dadada;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
